.inputs{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-top: 3%;
    margin-bottom: 5%;
   
}
.in-4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    text-align: start;
}
.in-4 input{
    width: 300px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    
}
.in-4 textarea{
    width: 300px;
    height: 50px;
    padding: 5px;
    max-width: 300px;
    max-height: 100px;
    min-width: 300px;
    min-height: 70px;
    
}
.in-4  label{
    font-weight: bold;
    font-size: 16px;
}
.inputs button{
    background-color: #1f1632;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-top: 40px;
}
.inputs button:hover{
    background-color: #39375B;
}
@media screen and (max-width: 768px){
    .inputs{
        width: 200px;
        
    }
    .contact{
        width: 100%;
    }
   
    
}
